<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Contatos</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container" id="app">
      <div class="row mt-5">
        <div class="col-12 border-bottom mb-5">
          <h2>{{name}}</h2>
        </div>

        <div class="col-4">
          <form action="">
            <div class="form-group">
              <label>Nome</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nome Completo..."
                v-model="employee.name"
              />
            </div>

            <div class="form-group">
              <label>E-mail</label>
              <input
                type="email"
                class="form-control"
                placeholder="Seu melhor email..."
                v-model="employee.email"
              />
            </div>

            <div class="form-group">
              <label>Setor</label>
              <select class="form-control" v-model="employee.department">
                <option value="" selected>Selecione o item</option>
                <option value="Sales">Sales</option>
                <option value="Marketing">Marketing</option>
                <option value="Ads">Ads</option>
                <option value="Social Media">Social Media</option>
                <option value="Branding & Marketing">
                  Branding & Marketing
                </option>
                <option value="Architectural Genie">Architectural Genie</option>
                <option value="Branding">Branding</option>
              </select>
            </div>
            <div class="form-group">
              <label>Cargo</label>
              <select class="form-control" v-model="employee.occupation">
                <option value="" selected>Selecione o item</option>
                <option value="Account executive">Account executive</option>
                <option value="Brand Manager">Brand Manager</option>
                <option value="Copywriting">Copywriting</option>
                <option value="Content Manager">Content Manager</option>
                <option value="Specialist">Specialist</option>
                <option value="Computer Network Architect">
                  Computer Network Architect
                </option>
                <option value="Trainee">Trainee</option>
              </select>
            </div>
            <div class="form-group">
              <label>Função</label>
              <select class="form-control" v-model="employee.role">
                <option value="" selected>Selecione o item</option>
                <option value="Account executive">Admin</option>
              </select>
            </div>
            <div class="custom-control custom-switch">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customSwitch1"
                v-model="employee.active"
                true-value="1"
                false-value="0"
              />
              <label class="custom-control-label" for="customSwitch1"></label>
            </div>

            <div class="form-group">
              <button
                v-if="!isEdit"
                class="btn btn-lg btn-rounded btn-primary"
                v-on:click.prevent="saveEmployee(employee)"
              >
                Salvar
              </button>
              <button
                v-if="isEdit"
                class="btn btn-lg btn-rounded btn-secondary"
                v-on:click.prevent="updateEmployee(employee)"
              >
                Salvar
              </button>
            </div>
          </form>
        </div>
        <div class="col-8 border-left">
          <div class="employee">
            <div class="card-header row">
              <p class="card">NOME</p>
              <p class="card">CARGO</p>
              <p class="card">STATUS</p>
              <p class="card">FUNÇÃO</p>
            </div>

            <div v-for="employee in employees" class="card">
              <div class="card-body row">
                <div>
                  <img v-bind:src="employee.profile_image" alt="photo" />
                </div>
                <div>
                  <p class="card-text">{{employee.name}}</p>
                  <p class="card-text">{{employee.email}},</p>
                </div>
                <div>
                  <p class="card-text">{{employee.department}}</p>
                  <p class="card-text">{{employee.occupation}},</p>
                </div>
                <div>
                  <p class="card-text">{{employee.active}}</p>
                </div>
                <div>
                  <p class="card-text">{{employee.role}}</p>
                </div>
                <a
                  class="text-blue"
                  href="#"
                  class="btn btn-sm btn-primary"
                  v-on:click.prevent="editEmployee(employee)"
                  >EDITAR</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
